<script src="/linker/js/login.js"></script>
<div class="row">
	<div class="col-md-5 col-md-offset-4">
		<form class="form-signin" role="form" action="/login" method="post">
			<h2 class="form-signin-heading"><%- Helper.translate(req, 'ejs-login-caption') %></h2>
			<div class="form-group">
				<label class="sr-only" for="login-text"><%- Helper.translate(req, 'ejs-login-login-label') %></label>
				<input id="login-text" name="login" class="form-control" type="text" autofocus="" required="true" placeholder=<%- Helper.translate('ejs-login-login-label') %>></input>
			</div>
			<div class="form-group">
				<label class="sr-only" for="password-text"><%- Helper.translate(req, 'ejs-login-password-label') %></label>
				<input id="password-text" name="password" class="form-control" type="password" required="true" placeholder=<%- Helper.translate(req, 'ejs-login-password-label') %>></input>
			</div>
			<button id="btn-enter" class="btn btn-lg btn-success btn-block" type="submit"><%- Helper.translate(req, 'ejs-login-btn-enter') %></button>
		</form>
	</div>
</div>