<script src="/linker/js/signup.js"></script>
<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <form class="form-signin" role="form">
            <h2 class="form-signin-heading"><%- Helper.translate(req, 'ejs-signup-caption') %></h2>
            <div class="form-group">
                <label class="sr-only" for="login-text"><%- Helper.translate(req, 'ejs-signup-login-label') %></label>
                <input id="login-text" name="login" class="form-control" type="text" autofocus="" required="true" placeholder=<%- Helper.translate(req, 'ejs-signup-login-label') %>></input>
            </div>
            <div class="form-group">
                <label class="sr-only" for="password-text"><%- Helper.translate(req, 'ejs-signup-password-label') %></label>
                <input id="password-text" name="password" class="form-control" type="password" required="true" placeholder=<%- Helper.translate(req, 'ejs-signup-password-label') %>></input>
            </div>
            <div class="form-group">
                <label class="sr-only" for="firstname-text"><%- Helper.translate(req, 'ejs-signup-firstname-label') %></label>
                <input id="firstname-text" name="firstName" class="form-control" type="text" required="true" placeholder=<%- Helper.translate(req, 'ejs-signup-firstname-label') %>></input>
            </div>
            <div class="form-group">
                <label class="sr-only" for="middlename-text"><%- Helper.translate(req, 'ejs-signup-middlename-label') %></label>
                <input id="middlename-text" name="middleName" class="form-control" type="text" placeholder=<%- Helper.translate(req, 'ejs-signup-middlename-label') %>></input>
            </div>
            <div class="form-group">
                <label class="sr-only" for="lastname-text"><%- Helper.translate(req, 'ejs-signup-lastname-label') %></label>
                <input id="lastname-text" name="lastName" class="form-control" type="text" required="true" placeholder=<%- Helper.translate(req, 'ejs-signup-lastname-label') %>></input>
            </div>
            <button class="btn btn-lg btn-success btn-block" id="btn-ok"><%- Helper.translate(req, 'ejs-signup-btn-ok') %></button>
        </form>
    </div>
</div>