<div class="modal fade" id="education-card" data-url="/profile/education" tabindex="-1" role="dialog" aria-labelledby="education-card-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="education-card-label"><%- Helper.translate(req, 'ejs-education-card-label') %></h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label class="control-label" for="education-card-place-text"><%- Helper.translate(req, 'ejs-education-card-place-text') %></label>
						<input class="form-control" data-attr="place" type="text" id="education-card-place-text" />
					</div>
					<div class="form-group">
						<label class="control-label" for="education-card-info-text"><%- Helper.translate(req, 'ejs-education-card-info-text') %></label>
						<input class="form-control" data-attr="info" type="text" id="education-card-info-text" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default cancel" data-type="education" data-attr="id" data-dismiss="modal"><%- Helper.translate(req, 'ejs-btn-cancel') %></button>
				<button type="button" class="btn btn-primary delete" data-type="education" data-attr="id"><%- Helper.translate(req, 'ejs-btn-delete') %></button>
				<button type="button" class="btn btn-primary save" data-type="education" data-attr="id"><%- Helper.translate(req, 'ejs-btn-save') %></button>
			</div>
		</div>
	</div>
</div>