<link href="/linker/styles/admin.css" rel="stylesheet">
<% if (news.length > 0) { %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 container content-column">
			<h1><%- Helper.translate(req, 'ejs-news-title') %></h1>
			<ul class="pagination">
				<% if (page === 1) { %>
					<li class="disabled"><a aria-label="Previous">
				<% } else { %>
					<li><a href="/admin/news?page=<%= page - 1 %>" aria-label="Previous">
				<% } %>
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<% for (var i = 0; i < pageCnt; i++) { %>
					<% if (i === page - 1) { %>
						<li class="active">
					<% } else { %>
						<li>
					<% } %>
					<a href="/admin/news/?page=<%= i + 1 %>"><%= i + 1 %></a></li>
				<% } %>
				<% if (page === pageCnt) { %>
					<li class="disabled"><a href="#" aria-label="Next">
				<% } else { %>
					<li><a href="/admin/news/?page=<%= page + 1 %>" aria-label="Next">
				<% } %>
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
			<% for (var i = 0; i < news.length; i++) { %>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="news-preview">
								<div class="col-md-9 news-href" data-href="/news?id=<%= news[i].id %>">
									<h2><%= news[i].title %></h2>
									<h4><%- Helper.convertDate(req, news[i].createdAt) %></h4>
									<% if (typeof(news[i].mainImg) !== 'undefined' && news[i].mainImg !== null) { %>
										<img src="<%= news[i].mainImg.path %>">
									<% } %>
									<%= news[i].description %>
								</div>
								<div class="col-md-3 btns">
									<button class="edit-btn btn btn-success" data-id="<%= news[i].id %>"><span class="glyphicon glyphicon-pencil"></span></button>
									<button class="delete-btn btn btn-success" data-id="<%= news[i].id %>"><span class="glyphicon glyphicon-trash"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
<% } %>
<div class="row">
	<div class="col-md-7 col-md-offset-3 btns-column">
		<button id="add-btn" class="btn btn-success">Добавить новость</button>
	</div>
</div>

<script>
	$('.news-href').click(function() {
		window.location.assign($(this).data('href'));
	});
</script>

<%- partial('card.ejs') %>


<script src="/linker/ckeditor/ckeditor.js"></script>
<script src="/linker/js/news.js"></script>